@model IEnumerable<LMS.Model.DataViewModel.Employer.JobPost.JobPostViewModel>
@{
    ViewData["Title"] = "Job Post State Wise";
}
<link href="~/lib/datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Loader.css" rel="stylesheet" />

<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Admin Area</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadCrumb"><a href="/Home/Index/">Home</a> / <span>Admin</span></div>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->
<div class="container" style="padding-top:20px;" align="center">
    <div class="row">
        <h4>State Job Post </h4>
        <hr />

        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered dt-responsive nowrap" id="jobPostStatewiseDataTable">
                <thead>
                    <tr>
                        <th>Email Id</th>
                        <th>Contact Person</th>
                        <th>Mobile</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Employment Status</th>
                        <th>Job Industry Area</th>
                        <th>No. Of Position</th>
                        <th>Gender</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var jobpost in Model)
                    {
                        <tr>
                            <td>@jobpost.UserName</td>
                            <td>@jobpost.ContactPerson</td>
                            <td>@jobpost.Mobile</td>
                            <td>@jobpost.CityCode</td>
                            <td>@jobpost.StateCode</td>
                            <td>@jobpost.CountryCode</td>
                            <td>@jobpost.EmploymentStatusName</td>
                            <td>@jobpost.EmploymentTypeName</td>
                            <td>@jobpost.NoPosition</td>
                            <td>@jobpost.Gender</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
    {

    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#jobPostStatewiseDataTable').dataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ]
            });

            let tb = $('#jobPostStatewiseDataTable').DataTable();
            if (!tb.data().count()) {
                $('#jobPostStatewiseDataTable').dataTable().fnDestroy();
                $('#jobPostStatewiseDataTable').DataTable({
                    searching: false
                })
            } else {
                $('span').html('Export Data');
                $('button').addClass("btn btn-primary");
                $('button').addClass("exportDataTablBtn");
            }
        });
    </script>
}
