@using LMS.Model.DataViewModel.Employer.JobPost;
@model IEnumerable<JobPostViewModel>
@*
    <div class="row">
        @if (null != ViewBag.Employers)
        {
            <div class="col-sm-6">
                <h3>Current Job Details</h3>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="employerFilter" asp-items="@(new SelectList(ViewBag.Employers,"UserId","CompanyName",ViewBag.SelectedEmployer))" onchange="employerChanged()">
                    <option value="">All</option>
                </select>
            </div>
        }
        else
        {
            <div class="col-sm-9">
                <h3>Current Job Details</h3>
            </div>
        }
        <div class="col-sm-3">
            <select id="jobListYearFilter" class="form-control" onchange="yearChanged()">
                @{
                    int currYear = DateTime.Now.Year;
                    @for (int i = (currYear - 2); i <= currYear; i++)
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (Model.Count() > 0)
            {
                <ul class="searchList">
                    @foreach (var job in Model)
                    {
                        <li>
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="jobinfo">
                                        <span class="h2">@job.JobTitleByEmployer</span>&nbsp;&nbsp;
                                        @if (@job.Featured == "True")
                                        {
                                            <span class="myJobSpan">Featured</span>
                                        }
                                        <div class="companyName">@job.HiringCriteria</div>
                                        <div class="location">@job.JobTypeSummary </div>
                                        <div class="companyName">Posted On:&nbsp;&nbsp; @job.PostedOn.ToString("MM/dd/yyyy")</div>
                                        <div class="location">
                                            <span>Q1:</span>&nbsp;@job.Quarter1&nbsp;
                                            <span>Q2:</span>&nbsp;@job.Quarter2&nbsp;
                                            <span>Q3:</span>&nbsp;@job.Quarter3&nbsp;
                                            <span>Q4:</span>&nbsp;@job.Quarter4&nbsp;
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="listbtn">
                                        Total applications for this job:   <span>@job.TotalApplications</span>
                                    </div>
                                </div>
                            </div>
                            <p>
                                @Html.Raw(@job.JobDetails)
                                <i class="fa fa-pencil-square-o job-edit-icon" onclick="populateJobOnForm(@job.JobPostId)" aria-hidden="true"></i>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="row data-not-available">
                    <label>
                        Data not found to display
                    </label>
                </div>
            }
        </div>
    </div>

    <!-- Edit Job Popup Container -->

    <div class="modal fade" id="editJob" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editJobInCenter">Edit Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateJob(this)">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ........................ --> *@
<style>
    table th{
        white-space:nowrap;
    }
    .customenowrap{
        white-space:nowrap;
    }
</style>
<div class="dashboard-content">
    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Manage Jobs</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li>Home</li>
                        <li>Dashboard</li>
                        <!-- <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li> -->
                        <li>Manage Jobs</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Table-->
        <div class="col-lg-12 col-md-12">
            <div class="notification notice">
                Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.
            </div>

            <div class="row margin-bottom-10">
                <div class="form col-sm-6 col-md-6 col-lg-6">
                    <h5>Current Job Details</h5>
                </div>
                <div class="form col-sm-6 col-md-6 col-lg-6">
                    <select name="jobListYearFilter" id="jobListYearFilter" onchange="getMyJobs()" data-placeholder="Select Year" class="chosen-select-no-single">
                        @{
                            int currYear = DateTime.Now.Year;
                            @for (int i = (currYear - 2); i <= currYear; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
            </div>

            @*<div class="col-md-6">
                    @if (null != ViewBag.Employers)
                    {
                        <div class="col-sm-6">
                            <h3>Current Job Details</h3>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="employerFilter" asp-items="@(new SelectList(ViewBag.Employers,"UserId","CompanyName",ViewBag.SelectedEmployer))" onchange="employerChanged()">
                                <option value="">All</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-9">
                            <h3>Current Job Details</h3>
                        </div>
                    }
                    <select id="jobListYearFilter" class="form-control" onchange="yearChanged()">
                        @{
                            int currYear = DateTime.Now.Year;
                            @for (int i = (currYear - 2); i <= currYear; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>*@
            <div class="dashboard-list-box margin-top-30">
                <div class="dashboard-list-box-content">
                    <!-- Table -->
                    <table class="manage-table responsive-table">
                        <tr>
                            <th>Title</th>
                            <th>Date Posted</th>
                            <th>HiringCriteria</th>
                            <th>JobTypeSummary</th>
                            <th>Total Applications</th>
                            <th>Action</th>
                        </tr>

                        <!-- Item #1 -->
                        @if (Model.Count() > 0)
                        {

                            @foreach (var job in Model)
                            {
                                <tr>
                                    <td class="title">
                                        @job.JobTitleByEmployer
                                        @if (job.Featured == "True")
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                    </td>                                    
                                    <td class="companyName">@job.PostedOn.ToString("MM/dd/yyyy")</td>
                                    <td class="companyName">@job.HiringCriteria</td>
                                    <td class="location">@job.JobTypeSummary </td>
                                    <td class="centered">
                                        @job.TotalApplications
                                    </td>
                                    <td class="customenowrap">
                                        <label onclick="populateJobOnForm(@job.JobPostId)" style="cursor:pointer"><i class="fa fa-pencil"></i> Edit</label>                                        
                                    </td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    <label>
                                        Data not found to display
                                    </label>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Job Popup Container -->

<div class="modal fade" id="editJob" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editJobInCenter">Edit Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateJob(this)">Update</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#jobRole").chosen({});
        $(".chosen-select-no-single").chosen({});
    });
</script>