@model IEnumerable<LMS.Model.DataViewModel.Admin.SuccessStory.SuccessStoryVideoViewModel>
@{
    ViewData["Title"] = "Success Story Video";
}

<link href="~/lib/datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Loader.css" rel="stylesheet" />
<link href="~/css/CommanPopup.css" rel="stylesheet" />

<!-- Page Title End -->
<div class="container" style="padding-top:20px;padding-bottom:170px;">
    <div class="row">

        <!-- Titlebar -->
        <div id="titlebar">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Dashboard</a></li>
                            <li>Success Story</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-md-12 table-responsive borderonScreen">
            <div class="form">
                <input type="submit" class="button border fw margin-top-0 pull-right" data-toggle="modal" data-name="" data-target="#PopUpModal" onclick="AddNew()" value="Add New" />
            </div>
            <table class="table table-striped table-bordered dt-responsive nowrap" id="dataTable">
                <thead>
                    <tr>
                        <th hidden>Sr. No.</th>
                        <th hidden>Id</th>
                        <th>Video Title</th>
                        <th>Story For</th>
                        <th>Video File</th>
                        <th>Display Order</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td hidden>@data.SerialNo</td>
                            <td hidden>@data.Id</td>
                            <td>@data.Title</td>
                            <td>@data.Type</td>
                            <td>@data.VideoFile</td>
                            <td>@data.DisplayOrder</td>
                            @*<td class="tableButtonCenter">
                            <button type="submit" class="btn btn-success btn-sm editbtn" data-toggle="modal" data-name="" data-target="#PopUpModal" onclick="edit(this)">Edit</button>
                            <button type="submit" class="btn btn-danger btn-sm" onclick="ConfrimationDeleteMessage(@data.Id)">Delete</button>
                        </td>*@
                            <td class="action">
                                <a href="javascript:void(0);" data-toggle="modal" data-name="" data-target="#PopUpModal" onclick="edit(this)"><i class="fa fa-pencil"></i> Edit</a><br />
                                <a href="javascript:void(0);" onclick="ConfrimationDeleteMessage(@data.Id)"><i class="fa fa-remove"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!----- Model-->
<div class="modal fade" id="PopUpModal" tabindex="-1" role="dialog" aria-labelledby="locationModalCenter" aria-hidden="true" style="background-color: rgb(128 128 128 / 88%);">
    <div class="dashboard-content">
        <div class="row">
            <div class="col-lg-6 col-md-6 popupdata">
                <label class="close close-model" data-dismiss="modal">&times;</label>
                <div class="dashboard-list-box margin-top-5">
                    <h4 id="PopUpModalLabel">Edit Record</h4>
                    <div class="dashboard-list-box-content">
                        <div class="submit-page">

                            <div class="form" style="display:none">
                                <h5>User ID</h5>
                                <input type="text" name="Id" id="Id" class="search-field eduModeltxtbox" placeholder="User Id">
                            </div>

                            <div class="form" style="width:100%">
                                <h5>Title Name</h5>
                                <input type="text" name="TitelName" id="TitelName" class="search-field eduModeltxtbox" placeholder="Titel Name">
                            </div>
                            <div class="form" style="width:100%">
                                <h5>Role</h5>
                                <select class="selectDropdown" id="StoryType" required>
                                    <option selected value="0">Story For</option>
                                    <option value="Employer">Employer</option>
                                    <option value="Student">Student</option>
                                </select>
                            </div>
                            <div class="form" style="width:100%">
                                <h5>Video Link</h5>
                                <input type="text" name="videoLink" id="videoLink" class="search-field eduModeltxtbox" placeholder="video Link">
                            </div>

                            <div class="form" style="width:100%">
                                <h5>Video Link</h5>
                                <input type="text" id="displayOrder" placeholder="Display Order" required class="search-field eduModeltxtbox">
                            </div>

                            <div class="form" style="width:33%" id="savebtn">
                                <input type="submit" id="SaveRec" class="button border fw margin-top-10  pull-right" onclick="Updatedata()" value="Save" />
                            </div>
                            <div class="form" style="width:33%" id="updatebtn">
                                <input type="submit" id="Update" class="button border fw margin-top-10 pull-right" onclick="Updatedata(this)" value="Update data" />
                            </div>
                            <div class="form" style="width:33%">
                                <input type="button" class="button border fw margin-top-10 " data-dismiss="modal" value="Close" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/Admin/SuccessStoryVideo/SuccessStoryVideo.js"></script>

